.dropdown{
  position: absolute;
  top: 4.5rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  width: 90%;
  height: auto;
  margin: auto;
  background: rgba(150, 144, 147, 0.9);
  display: none;
  border-radius: 5px;
  /* border: 1px solid rgb(193, 193, 193);   */
  box-shadow: 1px 1px 5px var(--secondary-base-color), inset 1px 1px 2px rgb(112, 110, 110);
  z-index: 20;
}
.dropdown ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 550px){
  .dropdown{
    display: block;
  }
}