.services{
  width: 90vw;
  height: 100vh;
  margin: 2rem auto;
}
.section-title{
  text-align: center;
  font-size: 4rem;
  
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: auto;
  margin-top: 2rem;

}



@media screen and (max-width: 1050px){
  .services{
    height: auto;
  }
}
@media screen and (max-width: 800px){}
@media screen and (max-width: 680px){
 
  .card-container{
    flex-direction: column;
  }
}
@media screen and (max-width: 550px){}
@media screen and (max-width: 480px){}