
.dropdown-container{
  color: red;
}


/*Media Queries*/
@media screen and (max-width: 800px){}
@media screen and (max-width: 680px){}
@media screen and (max-width: 550px){}
@media screen and (max-width: 480px){}
