.card{
  margin: 1rem;
  padding: .5rem;
  height: 25rem;
  width: 15rem;
  border: 1px solid black;
  box-shadow: 1px 1px 5px grey;
  border-radius: 5px;
}


/*Media Queries*/
@media screen and (max-width: 800px){}
@media screen and (max-width: 680px){
  .card{
    margin: 1.2rem;
    padding: .8rem;
    width: 90%;
    border: 1px solid black;
    box-shadow: 1px 1px 5px grey;
    border-radius: 5px;
  }
  
}
@media screen and (max-width: 550px){}
@media screen and (max-width: 480px){}
