.button-container{
  margin: .5rem;  
  display: inline-block;
}

.custom-button{
  height: 3rem;
  width: auto;
  padding: .8rem;
  font-size: 1.3rem;
  /* border: 1px solid black; */
  border: none;
  border-bottom: 2px solid var(--secondary-base-color);
  border-radius: 1rem;
  outline: none;
  box-shadow: 1px 1px 3px grey, inset 1px 1px 2px var(--secondary-base-color);
}


@media screen and (max-width: 800px){}
@media screen and (max-width: 680px){}
@media screen and (max-width: 550px){
  .custom-button{
    height: 2.8rem;   
    padding: .7rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px){
  .custom-button{
    height: 2.6rem;   
    padding: .5rem;
    font-size: 1rem;
  }
}
