.footer{
  margin-top: 2rem;
  max-width: 100%;
  height: 3rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  /* left: 20vw; */
}
.footer p{
  text-align: center;
  margin-top: 2%;
}