.banner-container{
  height: 95vh;
  width: 100vw;
  margin: 1rem;
  display: flex;
  /* overflow: hidden; */
  position: relative;
}
.banner-image{
  /* border: 1px solid black; */
  width: 45%;
  height: auto;
}
img{
  width: 95%;
  height: auto;
  margin: auto;
}

.banner-intro{
  /* border: 1px solid black; */
  width: 50%;
  height: 75vh;
  margin: auto;
}
.banner-title{
  font-size: 4rem;
  text-align: center;
}
.line{
  text-align: center;
  height: 1px;
  width: 98%;
  border: 2px solid black;
}
.skillset{
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  height: 2rem;
  overflow: hidden;
  /* border: 1px solid black; */
}
.skillset h5{
  animation: loop 5s linear infinite;
  color: var(--secondary-base-color);
}
@keyframes loop{
  0%{
    transform: translateY(0px);
  }
  25%{
     transform: translateY(-50px);
  }
  50%{
     transform: translateY(-100px);
  }
  75%{
     transform: translateY(-150px);
  }
  100%{
    transform: translateY(-200px);
  }
}


@media screen and (max-width: 800px){
  .banner-container{
    /* flex-direction: column; */
    margin-left: 5px;
    display: block;
    position: relative;
  }
  .banner-image{
    width: 95%;
    opacity: 0.6;
  }
  .banner-intro{
    position: absolute;
    top: 10%;
    width: 95%;
    margin: auto;
  }
  
}
@media screen and (max-width: 680px){
  .banner-title{
  font-size: 3rem;
  }
  .skillset{
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px){ 
  .banner-title{
  font-size: 2.8rem;
  }
}
@media screen and (max-width: 480px){
  .banner-title{
  font-size: 2.5rem;
  }
}
